.row
	.small-6.large-centered.columns
		%h3 Projects

		%table
			%thead
				%tr
					%th{:width => "150"} Project
					%th{:width => "350"} Description
					%th{:width => "75"} View
			%tbody
				- @projects.each do |project|
					%tr
						%td 
							= project.name
						%td 
							= project.description
						%td 
							= link_to "Show", project_path(project.id)
