.row
  .small-10.columns
    %h1
      = @project.name
    = @project.description

  %body
    %div.clearfix
      %button.filter-btn.button.menu{value: 0} Filters
    .filter-container.menu.clearfix{style: "display:none"}
      %button.close
        ×  

.row
  .small-1.large-centered.columns
    %h3 Rating

.row
  #sprint-graph-div
  / {:style => "width:100%;height:300px;"}

.row
  .small-1.large-centered.columns
    %h3 Velocity

.row
  #velocity-graph-div
  / {:style => "width:100%;height:300px;"}


#sprint-graph{"data-points" => @project.sprint_graph.to_json}
#velocity-graph{"data-points" => @project.velocity_graph.to_json}
