.row
  .small-3.large-centered.columns
    %h1
      = @project.name
    = @project.description


.row
  line_chart generate_project_graph(@project), {discrete: true, library: {hAxis: {title: "Sprints"}, vAxis: {title: "Rating"}}}
  
  #chart_div{:style => "width:100%;height:300px;"}


#graph{"data-points" => @graph.to_json}


%script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
:javascript
  google.load('visualization', '1.1', {packages: ['line', 'corechart']});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var graph = $('#graph');
    var graph_data = JSON.parse($('#graph').attr('data-points')); 

    console.log(graph_data);

    var chartDiv = document.getElementById('chart_div');
    var data = new google.visualization.DataTable();

    data.addColumn('date', 'Sprint End Date');
    data.addColumn('number', "Genaral");
    data.addColumn('number', "Devs");
    data.addColumn('number', "PO");
    data.addColumn({type:'string', role:'annotation'});
    data.addColumn({type:'string', role:'annotationText'});

    data.addRows([
      [new Date(2014, 0, 5),  1.0,  5.7,  5.7, "SJ deploy", "Supplejac deployement sprint"],
      [new Date(2014, 1, 5),   .4,  8.7,  5.7, "a", "bar is quxx"],
      [new Date(2014, 2, 5),   .5,   12,  5.7, "a", "bar is not quxx"],
      [new Date(2014, 3, 5),  2.9, 15.3,  5.7, "a", "fooing"],
      [new Date(2014, 4, 5),  6.3, 18.6,  5.7, "b", "heavy s2s"],
      [new Date(2014, 5, 5),    9, 20.9,  5.7, "a", "servuices 2 schools"],
      [new Date(2014, 6, 5), 10.6, 19.8,  5.7, "s2s", "Serviices to school sprint"],
      [new Date(2014, 7, 5), 10.3, 16.6,  5.7, "a", "Hour of Code"],
      [new Date(2014, 8, 5),  7.4, 13.3,  5.7, "a", "Cant type anymore"],
      [new Date(2014, 9, 5),  4.4,  9.9,  5.7, "a", "Will this end"],
      [new Date(2014, 10, 5), 1.1,  6.6,  5.7, "a", "who so big example?"],
      [new Date(2014, 11, 5), -.2,  4.5,  5.7, "a", "so it ends"],
      [new Date(2015, 0, 5), -.2,  5,  5.7, "a","so it ends"]
    ]);


    var classicOptions = {
      title: 'Average Temperatures and Daylight in Iceland Throughout the Year',
      curveType: 'function',
      width: "100%",
      height: 500,
      pointSize: 7,
      // Gives each series an axis that matches the vAxes number below.
      series: {
        0: {targetAxisIndex: 0},
        1: {targetAxisIndex: 1}
      },
      vAxes: {
        // Adds titles to each axis.
        0: {title: 'Rating'},
        1: {title: ''}
      },
      hAxis: {
        ticks: [new Date(2014, 0), new Date(2014, 1), new Date(2014, 2), new Date(2014, 3),
                new Date(2014, 4),  new Date(2014, 5), new Date(2014, 6), new Date(2014, 7),
                new Date(2014, 8), new Date(2014, 9), new Date(2014, 10), new Date(2014, 11),
                new Date(2015, 0)
               ]
      },
      vAxis: {
        viewWindow: {
          max: 30
        }
      }
    };


    function drawClassicChart() {
      var classicChart = new google.visualization.LineChart(chartDiv);
      classicChart.draw(data, classicOptions);
      button.innerText = 'Change to Material';
      button.onclick = drawMaterialChart;
    }

    drawClassicChart();

  }
