$brand-colour: #f07800; /* Change this colour to change the theme of the site */
$brand-colour-darken:#D64B00 ;
$gray: #ccc;
$dark-grey: #4B4B51;
$hilite: #ff0;
$orange: #EE6900;
$dark-grey: #4a4a47;
$red: #EE6900;
$middle-grey: #777;
$text-red: #ff384c;
$text-grey: #4b4b51;
$light-grey: #f7f6f6;